# Testing New Rankings Data
https://github.com/JeffSackmann/tennis_atp
The player file columns are player_id, first_name, last_name, hand, birth_date, country_code.
The columns for the ranking files are ranking_date, ranking, player_id, ranking_points.
E:\Development\0117-DaiAnalysis\gitHub_atp_project\tennis_atp\rankings

In [1]:
import pandas as pd
import numpy as np
import multiprocessing
import dask.dataframe as dd
from MutiprocessDataframe import callfunction

basefolder=r'E:\Development\0117-DaiAnalysis\gitHub_atp_project\tennis_atp\rankings'
print ("Calling MultiProcess")
ranklist = callfunction(basefolder)
ranklist.shape

Calling MultiProcess

(2499548, 4)

In [2]:
#ranklist=ranklist.rename({'0':'RankDate','1':'Rank','3':'PlayerID','4':'RankPoints;'})
ranklist.head()

   rank_date  rank  player_id rank_points
0   19900101     1     100656        2913
1   19900101     2     101414        2279
2   19900101     3     101222        2111
3   19900101     4     100763        1398
4   19900101     5     100581        1354

In [3]:
file=r"E:\Development\0117-DaiAnalysis\gitHub_atp_project\tennis_atp\atp_players2.csv"
players=pd.read_csv(file,encoding = "ISO-8859-1",header=None,names=['player_id', 'first_name', 'last_name', 'hand', 'birth_date', 'country_code'])

In [4]:
print(players.shape)
players.head()

(45684, 6)

   player_id      first_name last_name hand  birth_date country_code
0     100001         Gardnar    Mulloy    R  19131122.0          USA
1     100002          Pancho    Segura    R  19210620.0          ECU
2     100003           Frank   Sedgman    R  19271002.0          AUS
3     100004        Giuseppe     Merlo    R  19271011.0          ITA
4     100005  Richard Pancho  Gonzales    R  19280509.0          USA

In [5]:
dupes=players[players.duplicated(['first_name', 'last_name'], keep=False)]
print(dupes.shape)

(503, 6)


## Drop Dupes with NaN
#df.dropna()     #drop all rows that have any NaN values

In [6]:
dupes = dupes.dropna()
print(dupes.shape)
players=players.drop_duplicates(['first_name', 'last_name'])
print(players.shape)
players=players.append(dupes, ignore_index=True)
print(players.shape)

(115, 6)
(45406, 6)
(45521, 6)

In [7]:
groupeddupes=dupes.groupby('last_name')
#print(dupes.shape)
for key,item in groupeddupes:
    print(key)
    print(groupeddupes.get_group(key))

Adams
       player_id first_name last_name hand  birth_date country_code
38148     138112      Henry     Adams    U  19960621.0          USA
Al Baloushi
       player_id     first_name    last_name hand  birth_date country_code
8982      108996  Mahmoud Nader  Al Baloushi    U  19800603.0          UAE
42511     142475  Mahmoud Nader  Al Baloushi    U  19800630.0          UAE
Alonso
       player_id first_name last_name hand  birth_date country_code
3030      103031     Julian    Alonso    R  19770802.0          ESP
31399     131363     Julian    Alonso    R  19770802.0          ESP
Alvarez
      player_id first_name last_name hand  birth_date country_code
9819     109782    William   Alvarez    R  19341215.0          COL
Antelo
       player_id first_name last_name hand  birth_date country_code
17456     117420       Jose    Antelo    U  19820703.0          BOL
Aquino
       player_id first_name last_name hand  birth_date country_code
25452     125416   Mauricio    Aquino    U  19680331.0          BRA
Austin
       player_id first_name last_name hand  birth_date country_code
491       100492       John    Austin    R  19570731.0          USA
30974     130938       John    Austin    U  19681116.0          IRL
Bardsley
       player_id first_name last_name hand  birth_date country_code
94        100095       Tony  Bardsley    R  19450209.0          CAN
10152     110115       Tony  Bardsley    R  19450209.0          CAN
Barros
       player_id first_name last_name hand  birth_date country_code
9405      109419     Manuel    Barros    U  19820928.0          POR
22573     122537     Manuel    Barros    R  19940519.0          ARG
Booth
       player_id first_name last_name hand  birth_date country_code
1558      101559     Robert     Booth    R  19690101.0          GBR
25063     125027     Robert     Booth    U  19590803.0          GBR
Brown
      player_id first_name last_name hand  birth_date country_code
92       100093    William     Brown    R  19450114.0          USA
9840     109803       John     Brown    R  19400712.0          AUS
Buscaglione
       player_id first_name    last_name hand  birth_date country_code
2021      102022      Cyril  Buscaglione    R  19720224.0          FRA
30689     130653      Cyril  Buscaglione    U  19720324.0          FRA
Campbell
       player_id first_name last_name hand  birth_date country_code
23488     123452    Douglas  Campbell    U  19700718.0          USA
Carpen
      player_id        first_name last_name hand  birth_date country_code
4830     104834  Alexandru Daniel    Carpen    R  19861124.0          ROU
9649     109613  Alexandru Daniel    Carpen    R  19861124.0          ROU
Dandrea
       player_id first_name last_name hand  birth_date country_code
22833     122797    Luciano   Dandrea    U  19680717.0          BRA
Dionne
       player_id first_name last_name hand  birth_date country_code
31075     131039     Martin    Dionne    R  19711115.0          CAN
Farren
      player_id first_name last_name hand  birth_date country_code
8842     108856       Mark    Farren    U  19661108.0          IRL
Fernandes
       player_id first_name  last_name hand  birth_date country_code
31581     131545     Marcos  Fernandes    U  19650208.0          BRA
Fillol
      player_id first_name last_name hand  birth_date country_code
114      100115      Jaime    Fillol    R  19460603.0          CHI
2878     102879      Jaime    Fillol    U  19761103.0          CHI
Galvan
       player_id first_name last_name hand  birth_date country_code
42296     142260  Francisco    Galvan    U  19641118.0          MEX
Garcia
       player_id first_name last_name hand  birth_date country_code
35767     135731    Eduardo    Garcia    U  19900801.0          MEX
Garcia-Lopez
       player_id first_name     last_name hand  birth_date country_code
4197      104198  Guillermo  Garcia-Lopez    R  19830604.0          ESP
24534     124498  Guillermo  Garcia-Lopez    U  19830607.0          ESP
Green
       player_id first_name last_name hand  birth_date country_code
18538     118502     Robert     Green    R  19810721.0          GBR
Greenan
       player_id first_name last_name hand  birth_date country_code
31074     131038       Mark   Greenan    L  19660630.0          CAN
Gudino
       player_id first_name last_name hand  birth_date country_code
31554     131518      Marco    Gudino    U  19720223.0          ECU
Guzman
       player_id  first_name last_name hand  birth_date country_code
3699      103700  Juan-Pablo    Guzman    L  19810129.0          ARG
29978     129942  Juan-Pablo    Guzman    R  19910114.0          COL
Haberleitner
       player_id first_name     last_name hand  birth_date country_code
23112     123076      Bernd  Haberleitner    U  19690711.0          AUT
Hemmes
      player_id first_name last_name hand  birth_date country_code
212      100213       Fred    Hemmes    U  19500614.0          NED
3698     103699       Fred    Hemmes    R  19810128.0          NED
Holecek
    player_id first_name last_name hand  birth_date country_code
75     100076      Milan   Holecek    R  19431023.0          CZE
Hulse
       player_id first_name last_name hand  birth_date country_code
31272     131236      Scott     Hulse    U  19701024.0          USA
Kachanovskiy
      player_id first_name     last_name hand  birth_date country_code
5736     105750    Vitaliy  Kachanovskiy    U  19910412.0          RUS
9237     109251    Vitaliy  Kachanovskiy    U  19910412.0          RUS
Kiyomiya
       player_id first_name last_name hand  birth_date country_code
23237     123201    Kenichi  Kiyomiya    U  19671101.0          JPN
Kodes Jr.
      player_id first_name  last_name hand  birth_date country_code
112      100113        Jan  Kodes Jr.    R  19460301.0          CZE
2025     102026        Jan  Kodes Jr.    R  19720311.0          CZE
Kyriakos
       player_id first_name last_name hand  birth_date country_code
31582     131546    William  Kyriakos    U  19720903.0          BRA
Lemos
       player_id first_name last_name hand  birth_date country_code
18442     118406     Felipe     Lemos    U  19831110.0          BRA
Mccourt
       player_id first_name last_name hand  birth_date country_code
44840     144804       Zack   Mccourt    R  19921220.0          USA
45450     200364       Zack   Mccourt    U  19921220.0          USA
Mecir (Sr.)
      player_id first_name    last_name hand  birth_date country_code
1035     101036   Miloslav  Mecir (Sr.)    R  19640519.0          SVK
5072     105080   Miloslav  Mecir (Sr.)    U  19880120.0          SVK
Meer
       player_id first_name last_name hand  birth_date country_code
11024     110987      Saeed      Meer    U  19471125.0          PAK
Mintz
       player_id first_name last_name hand  birth_date country_code
31580     131544    Fabiano     Mintz    U  19750516.0          BRA
Moncayo
       player_id first_name last_name hand  birth_date country_code
31551     131515   Santiago   Moncayo    U  19780912.0          ECU
Mori
       player_id  first_name last_name hand  birth_date country_code
31274     131238  Toshitsugu      Mori    U  19691222.0          JPN
Mota
       player_id first_name last_name hand  birth_date country_code
30690     130654       Nuno      Mota    U  19680609.0          POR
Moussa
       player_id first_name last_name hand  birth_date country_code
20732     120696    Mohamed    Moussa    R  19850622.0          EGY
24453     124417    Mohamed    Moussa    U  19800419.0          EGY
Ngodrela
       player_id first_name last_name hand  birth_date country_code
26848     126812    Nicolas  Ngodrela    U  19841006.0          FRA
Ngoran
       player_id first_name last_name hand  birth_date country_code
23660     123624       Yves    Ngoran    U  19701119.0          CIV
Nunez
      player_id     first_name last_name hand  birth_date country_code
8760     108774  Marco Aurelio     Nunez    U  19930521.0          MEX
9351     109365  Marco Aurelio     Nunez    L  19930521.0          MEX
Oconnell
       player_id first_name last_name hand  birth_date country_code
19737     119701      David  Oconnell    U  19810504.0          IRL
Odonovan
       player_id first_name last_name hand  birth_date country_code
23481     123445      Shaun  Odonovan    U  19681010.0          RSA
Olguin
       player_id first_name last_name hand  birth_date country_code
2692      102693   Leonardo    Olguin    R  19751201.0          ARG
11522     111486   Leonardo    Olguin    U  19751008.0          ARG
Oneil
       player_id first_name last_name hand  birth_date country_code
22757     122721    William     Oneil    U  19711224.0          AUS
Perez-Roldan
       player_id first_name     last_name hand  birth_date country_code
1648      101649  Guillermo  Perez-Roldan    R  19691020.0          ARG
19251     119215  Guillermo  Perez-Roldan    U  19840713.0          ESP
Pettigrosso
       player_id first_name    last_name hand  birth_date country_code
44403     144367    Mariano  Pettigrosso    U  19800201.0          ARG
Pinheiro
      player_id first_name last_name hand  birth_date country_code
5224     105232      Andre  Pinheiro    U  19881019.0          BRA
9679     109643      Andre  Pinheiro    U  19881019.0          BRA
Power
       player_id first_name last_name hand  birth_date country_code
29079     129043       Dave     Power    U  19850103.0          AUS
Ramesh
       player_id   first_name last_name hand  birth_date country_code
23179     123143  Karathozuvu    Ramesh    U  19640608.0          IND
Rangel
       player_id first_name last_name hand  birth_date country_code
31073     131037     Rafael    Rangel    U  19701026.0          MEX
Reichel
       player_id first_name last_name hand  birth_date country_code
1870      101871       Alex   Reichel    R  19710303.0          USA
31275     131239       Alex   Reichel    R  19710309.0          USA
Roberts
       player_id first_name last_name hand  birth_date country_code
31273     131237    Michael   Roberts    U  19700929.0          USA
Romero
       player_id first_name last_name hand  birth_date country_code
19823     119787    Eugenio    Romero    U  19830922.0          MEX
22107     122071    Eugenio    Romero    L  19921002.0          ARG
Ryan
       player_id first_name last_name hand  birth_date country_code
64        100065      Terry      Ryan    R  19420427.0          RSA
11173     111136      Terry      Ryan    R  19420427.0          RSA
Saller
       player_id first_name last_name hand  birth_date country_code
25652     125616    Eugenio    Saller    U  19280625.0          BRA
Sanchez de Luna
       player_id    first_name        last_name hand  birth_date country_code
3926      103927  Jose Antonio  Sanchez de Luna    U  19820129.0          ESP
4443      104445  Jose Antonio  Sanchez de Luna    R  19841018.0          ESP
18880     118844  Jose Antonio  Sanchez de Luna    U  19641201.0          ESP
19244     119208  Jose Antonio  Sanchez de Luna    U  19850215.0          ESP
23647     123611  Jose Antonio  Sanchez de Luna    U  19740715.0          ESP
24142     124106  Jose Antonio  Sanchez de Luna    U  19961229.0          VEN
Scholtz
      player_id first_name last_name hand  birth_date country_code
5692     105707   Nicolaas   Scholtz    R  19910205.0          RSA
5693     105707   Nicolaas   Scholtz    R  19910205.0          RSA
Taylor
     player_id first_name last_name hand  birth_date country_code
208     100209     George    Taylor    R  19500504.0          USA
Walker
       player_id first_name last_name hand  birth_date country_code
1127      101128    Michael    Walker    L  19650421.0          HKG
8817      108831    Michael    Walker    U  19660421.0          HKG
39987     139951     Robert    Walker    R  19810707.0          USA
40752     140716       John    Walker    U  19300716.0          USA
Wang Jr.
       player_id first_name last_name hand  birth_date country_code
2656      102657         Yu  Wang Jr.    R  19750919.0          CHN
3816      103817         Yu  Wang Jr.    L  19810801.0          CHN
4368      104370         Yu  Wang Jr.    U  19840519.0          CHN
25572     125536         Yu  Wang Jr.    U  19840822.0          CHN
26992     126956         Yu  Wang Jr.    U  19941006.0          KOR
27227     127191         Yu  Wang Jr.    U  19970523.0          TPE
39733     139697         Yu  Wang Jr.    R  19830704.0          CHN
Warren
       player_id first_name last_name hand  birth_date country_code
25820     125784      David    Warren    U  19880725.0          USA
32147     132111      David    Warren    U  19940614.0          USA
Weber
       player_id first_name last_name hand  birth_date country_code
2783      102784    Andreas     Weber    R  19760426.0          GER
11385     111349    Andreas     Weber    R  19860617.0          GER
Williamson
       player_id first_name   last_name hand  birth_date country_code
27381     127345    Phillip  Williamson    U  19650529.0          USA
Yoon
       player_id first_name last_name hand  birth_date country_code
2262      102263    Yong-Il      Yoon    R  19730923.0          KOR
18643     118607    Yong-Il      Yoon    R  19810121.0          KOR
Zormann Da Silva
       player_id first_name         last_name hand  birth_date country_code
10811     110774    Marcelo  Zormann Da Silva    R  19960610.0          BRA
27337     127301    Marcelo  Zormann Da Silva    R  19960610.0          BRA

## Merging Players and Ranks into Results
#Doing this for all oponents and players

In [8]:
play = players[['first_name','last_name','player_id']].copy()
#ranklist=ranklist.rename({'0':'RankDate','1':'Rank','3':'PlayerID','4':'RankPoints;'})
p_players=play.rename(columns={'first_name':'p_first_name', 'last_name':'p_last_name','player_id':'p_player_id'})

In [9]:
file="C:\\Users\\amac\\Documents\\GoogleDrive\\Washu\\01-17-Dai\\singles_results_Katy.dta"
results = pd.read_stata(file, convert_dates=True, convert_categoricals=True, encoding=None, index=None, convert_missing=False, preserve_dtypes=True, columns=None, order_categoricals=True, chunksize=None, iterator=False)
#list(results)
results['date'] = pd.to_datetime(results['date'])
results = results.merge(p_players,on=['p_first_name','p_last_name'],how='left')

In [10]:
o_players=play.rename(columns={'first_name':'o_first_name', 'last_name':'o_last_name','player_id':'o_player_id'})
results = results.merge(o_players,on=['o_first_name','o_last_name'],how='left')
results.shape

(62183, 44)

In [11]:

ranklist['rank_date']=pd.to_datetime(ranklist['rank_date'],format="%Y%m%d")
ranklist.tail()

         rank_date  rank  player_id rank_points
2499543 1989-10-23   952     136381           0
2499544 1989-10-23   952     136381           0
2499545 1989-12-11   919     108831           0
2499546 1989-12-11   950     136381           0
2499547 1989-12-11   950     136381           0

In [12]:
ranklist.head()

   rank_date  rank  player_id rank_points
0 1990-01-01     1     100656        2913
1 1990-01-01     2     101414        2279
2 1990-01-01     3     101222        2111
3 1990-01-01     4     100763        1398
4 1990-01-01     5     100581        1354

In [13]:
ranklist = ranklist[['rank_date','player_id','rank']].copy()
ranklist['date']=ranklist['rank_date']
p_ranklist = ranklist.rename(columns={'rank_date':'p_rank_date','player_id':'p_player_id','rank':'p_rank'})
p_ranklist.shape

(2499548, 4)

In [14]:
results.head()

,winloss,p_last_name,p_first_name,p_natl,o_last_name,o_first_name,o_natl,year,tournament,date,...,retgamo,retgamp,rgamply,sgamply,ssply,ssroppr,ssrwon,sswon,p_player_id,o_player_id
0,L,Youzhny,Mikhail,RUS,Kiefer,Nicolas,GER,2007,ATP Masters Series Madrid,2007-10-15,...,8.0,8.0,8.0,8.0,19.0,16.0,9.0,9.0,104022,103017.0
1,W,Lopez,Feliciano,ESP,Koubek,Stefan,AUT,2007,ATP Masters Series Madrid,2007-10-15,...,10.0,9.0,9.0,10.0,29.0,30.0,12.0,18.0,103852,102905.0
2,L,Safin,Marat,RUS,Karlovic,Ivo,CRO,2007,ATP Masters Series Madrid,2007-10-15,...,9.0,10.0,10.0,9.0,21.0,15.0,8.0,12.0,103498,103333.0
3,L,Ljubicic,Ivan,CRO,Koubek,Stefan,AUT,2007,ATP Masters Series Madrid,2007-10-15,...,16.0,17.0,17.0,16.0,32.0,39.0,13.0,15.0,103344,102905.0
4,L,Nieminen,Jarkko,FIN,Koubek,Stefan,AUT,2007,ATP Masters Series Madrid,2007-10-15,...,14.0,14.0,14.0,14.0,31.0,36.0,18.0,16.0,103813,102905.0

In [15]:
results1=results.merge(p_ranklist,on=['p_player_id','date'],how='inner')

In [16]:
results1.head()

,winloss,p_last_name,p_first_name,p_natl,o_last_name,o_first_name,o_natl,year,tournament,date,...,rgamply,sgamply,ssply,ssroppr,ssrwon,sswon,p_player_id,o_player_id,p_rank_date,p_rank
0,L,Youzhny,Mikhail,RUS,Kiefer,Nicolas,GER,2007,ATP Masters Series Madrid,2007-10-15,...,8.0,8.0,19.0,16.0,9.0,9.0,104022,103017.0,2007-10-15,18
1,W,Lopez,Feliciano,ESP,Koubek,Stefan,AUT,2007,ATP Masters Series Madrid,2007-10-15,...,9.0,10.0,29.0,30.0,12.0,18.0,103852,102905.0,2007-10-15,42
2,L,Lopez,Feliciano,ESP,Federer,Roger,SUI,2007,ATP Masters Series Madrid,2007-10-15,...,11.0,11.0,38.0,23.0,5.0,17.0,103852,103819.0,2007-10-15,42
3,W,Lopez,Feliciano,ESP,Ferrer,David,ESP,2007,ATP Masters Series Madrid,2007-10-15,...,12.0,12.0,43.0,35.0,16.0,27.0,103852,103970.0,2007-10-15,42
4,W,Lopez,Feliciano,ESP,Volandri,Filippo,ITA,2007,ATP Masters Series Madrid,2007-10-15,...,8.0,9.0,20.0,24.0,14.0,7.0,103852,103835.0,2007-10-15,42

In [17]:
o_ranklist = ranklist.rename(columns={'rank_date':'o_rank_date','player_id':'o_player_id','rank':'o_rank'})
results2=results1.merge(o_ranklist,on=['o_player_id','date'],how='inner')

In [18]:
results2.shape

(60315, 48)

In [19]:
results3 = results2.dropna(subset=['o_rank','p_rank'])
results3.shape

(60315, 48)

In [20]:
results3.head()

,winloss,p_last_name,p_first_name,p_natl,o_last_name,o_first_name,o_natl,year,tournament,date,...,ssply,ssroppr,ssrwon,sswon,p_player_id,o_player_id,p_rank_date,p_rank,o_rank_date,o_rank
0,L,Youzhny,Mikhail,RUS,Kiefer,Nicolas,GER,2007,ATP Masters Series Madrid,2007-10-15,...,19.0,16.0,9.0,9.0,104022,103017.0,2007-10-15,18,2007-10-15,112
1,W,Federer,Roger,SUI,Kiefer,Nicolas,GER,2007,ATP Masters Series Madrid,2007-10-15,...,17.0,35.0,16.0,10.0,103819,103017.0,2007-10-15,1,2007-10-15,112
2,L,Gonzalez,Fernando,CHI,Kiefer,Nicolas,GER,2007,ATP Masters Series Madrid,2007-10-15,...,21.0,26.0,10.0,9.0,103602,103017.0,2007-10-15,6,2007-10-15,112
3,W,Lopez,Feliciano,ESP,Koubek,Stefan,AUT,2007,ATP Masters Series Madrid,2007-10-15,...,29.0,30.0,12.0,18.0,103852,102905.0,2007-10-15,42,2007-10-15,68
4,L,Ljubicic,Ivan,CRO,Koubek,Stefan,AUT,2007,ATP Masters Series Madrid,2007-10-15,...,32.0,39.0,13.0,15.0,103344,102905.0,2007-10-15,13,2007-10-15,68

In [21]:
results3.to_stata('no_date_fudging_0129.dta',convert_dates={'date':'tc','p_rank_date':'tc','o_rank_date':'tc'})

In [22]:
results.dtypes

winloss                   object
p_last_name               object
p_first_name              object
p_natl                    object
o_last_name               object
o_first_name              object
o_natl                    object
year                       int16
tournament                object
date              datetime64[ns]
tournamenttype            object
round                       int8
set1p                    float64
set1o                    float64
set2p                    float64
set2o                    float64
set3p                    float64
set3o                    float64
set4p                    float64
set4o                    float64
set5p                    float64
set5o                    float64
rsn                       object
aces                        int8
bpface                   float64
bplst                    float64
bpoppr                   float64
bpwon                    float64
dblfalt                  float64
fsply                    float64
fsroppr                  float64
fsrwon                   float64
fswon                    float64
mtchtime                 float64
retgamo                  float64
retgamp                  float64
rgamply                  float64
sgamply                  float64
ssply                    float64
ssroppr                  float64
ssrwon                   float64
sswon                    float64
p_player_id                int64
o_player_id              float64
dtype: object

In [23]:
res=results[results['o_player_id'].isnull()]
# results['p_player_id']=results['p_player_id'].astype(int)
# results.dtype
cnt=0
nares=res.groupby(['o_last_name','o_first_name'])
for key,val in nares:
    print(key)
    cnt+=len(nares.get_group(key))

('Albert-Ferrando', 'Mariano')
('Anzari ', 'Tomas')
('Aparisi', 'Jose-Luis')
('Arnold Ker', 'Lucas')
('Bachelot', 'Jean-Francois')
('Bahrouzyan', 'Omar ')
('Cunha-Silva', 'Joao')
('Davis', 'Martin')
('DeVries', 'Steve')
('Gabashvili', 'Teimuraz')
('Ghareeb', 'Mohammed')
('Imaz-Ruiz', 'Jose')
('Jun', 'Woong-Sun')
('Kim', 'Bong-Soo')
('Kim', 'Chi-Wan')
('Kirillov', 'Evgeniy')
('Lee', 'Hyung-Taik')
('Lu', 'Yen-Hsun')
('Middleton', 'T.J.')
("N'Goran", 'Claude')
("N'Goran", 'Clement')
("O'Brien", 'Alex')
('Roger-Vasselin', 'Edouard')
('Wang', 'Yeu-Tzuoo')
('Xia', 'Jia-Ping')
('Zhu', 'Ben-Qiang')
('Zingman', 'Andres')
('de Jager', 'John-Laffnie')
('van Lottum', 'John')
('van Scheppingen', 'Dennis')

In [24]:
cnt

576

In [25]:
res=results[results['p_player_id'].isnull()]
# results['p_player_id']=results['p_player_id'].astype(int)
# results.dtype
res.shape
#nares=res.groupby(['p_last_name','p_first_name'])
# for key,val in nares:
#     print(key)

(0, 44)

In [26]:
res=results[results['o_player_id'].isnull()]
# results['p_player_id']=results['p_player_id'].astype(int)
# results.dtype
res.shape

(576, 44)

In [27]:
results=results.dropna(subset=['o_player_id','p_player_id'])

# Looking at non matching dates
There are 6k records where dates dont match. Thats 10%.  
Perform logic finding both the ranks where the rank must be before the match AND where the rank can be on match date

In [28]:
ranklist.dtypes
#ranklist.head()

rank_date    datetime64[ns]
player_id             int64
rank                  int64
date         datetime64[ns]
dtype: object

In [29]:
ranklist['player_id']=ranklist['player_id'].astype(int)
ranklist.dtypes

rank_date    datetime64[ns]
player_id             int32
rank                  int64
date         datetime64[ns]
dtype: object

In [30]:

results['p_player_id']=results['p_player_id'].astype(int)
results['o_player_id']=results['o_player_id'].astype(int)
results.dtypes

winloss                   object
p_last_name               object
p_first_name              object
p_natl                    object
o_last_name               object
o_first_name              object
o_natl                    object
year                       int16
tournament                object
date              datetime64[ns]
tournamenttype            object
round                       int8
set1p                    float64
set1o                    float64
set2p                    float64
set2o                    float64
set3p                    float64
set3o                    float64
set4p                    float64
set4o                    float64
set5p                    float64
set5o                    float64
rsn                       object
aces                        int8
bpface                   float64
bplst                    float64
bpoppr                   float64
bpwon                    float64
dblfalt                  float64
fsply                    float64
fsroppr                  float64
fsrwon                   float64
fswon                    float64
mtchtime                 float64
retgamo                  float64
retgamp                  float64
rgamply                  float64
sgamply                  float64
ssply                    float64
ssroppr                  float64
ssrwon                   float64
sswon                    float64
p_player_id                int32
o_player_id                int32
dtype: object

In [31]:
#create groups
p_resultsgrouped = results.groupby('p_player_id')
o_resultsgrouped = results.groupby('o_player_id')
rankgrouped = ranklist.groupby('player_id')

# for each group
# for each playeddate
p_newdates=pd.DataFrame(columns=('p_player_id', 'date', 'p_rank_date'))
o_newdates=pd.DataFrame(columns=('o_player_id', 'date', 'o_rank_date'))

In [32]:
gr=dict(list(p_resultsgrouped))
#print (gr)
p_resultsgrouped.get_group(100113)
rankgrouped.get_group(100113)

         rank_date  player_id  rank       date
35414   1990-08-13     100113   566 1990-08-13
86199   1991-07-29     100113  1090 1991-07-29
87474   1991-08-05     100113  1099 1991-08-05
88754   1991-08-12     100113  1093 1991-08-12
90020   1991-08-19     100113  1094 1991-08-19
91291   1991-08-26     100113  1095 1991-08-26
92373   1991-09-02     100113  1095 1991-09-02
92851   1991-09-09     100113  1103 1991-09-09
94133   1991-09-16     100113  1098 1991-09-16
95422   1991-09-23     100113  1106 1991-09-23
96709   1991-09-30     100113  1109 1991-09-30
97997   1991-10-07     100113  1108 1991-10-07
99279   1991-10-14     100113  1105 1991-10-14
100570  1991-10-21     100113  1103 1991-10-21
101869  1991-10-28     100113  1116 1991-10-28
103166  1991-11-04     100113  1113 1991-11-04
104438  1991-11-11     100113  1108 1991-11-11
105723  1991-11-18     100113  1110 1991-11-18
107015  1991-11-25     100113  1115 1991-11-25
108328  1991-12-02     100113  1124 1991-12-02
109382  1991-12-09     100113  1124 1991-12-09
109636  1991-12-16     100113  1124 1991-12-16
110133  1991-12-23     100113  1131 1991-12-23
111195  1991-12-30     100113  1131 1991-12-30
111697  1992-01-06     100113  1131 1992-01-06
113003  1992-01-13     100113  1133 1992-01-13
114065  1992-01-20     100113  1133 1992-01-20
114543  1992-01-27     100113  1125 1992-01-27
115622  1992-02-03     100113  1125 1992-02-03
116098  1992-02-10     100113  1121 1992-02-10
...            ...        ...   ...        ...
2225565 1974-11-06     100113    16 1974-11-06
2225908 1974-12-20     100113    17 1974-12-20
2226281 1975-01-17     100113    17 1975-01-17
2226662 1975-03-05     100113    24 1975-03-05
2227062 1975-04-08     100113    21 1975-04-08
2227481 1975-04-30     100113    22 1975-04-30
2227908 1975-06-02     100113    19 1975-06-02
2228337 1975-06-26     100113    20 1975-06-26
2228432 1975-12-15     100113    19 1975-12-15
2228845 1976-06-14     100113    25 1976-06-14
2229207 1976-12-12     100113    19 1976-12-12
2229607 1977-07-02     100113    28 1977-07-02
2230019 1977-12-31     100113    40 1977-12-31
2230483 1978-01-16     100113    39 1978-01-16
2230961 1978-07-12     100113    68 1978-07-12
2231509 1978-12-31     100113   119 1978-12-31
2232076 1979-12-26     100113    88 1979-12-26
2233059 1980-12-22     100113   221 1980-12-22
2233985 1983-01-03     100113   504 1983-01-03
2235126 1984-01-02     100113   602 1984-01-02
2236137 1984-06-25     100113   562 1984-06-25
2236861 1984-07-09     100113   557 1984-07-09
2237803 1984-07-16     100113   559 1984-07-16
2238806 1984-07-23     100113   616 1984-07-23
2239800 1984-07-30     100113   610 1984-07-30
2240771 1984-08-06     100113   619 1984-08-06
2241750 1984-08-13     100113   624 1984-08-13
2242710 1984-08-20     100113   627 1984-08-20
2243724 1984-08-27     100113   631 1984-08-27
2244683 1984-09-10     100113   630 1984-09-10

[89 rows x 4 columns]

In [33]:
p_newdates=[]
# plistgroupeddate
# p_resultsgrouped.get_group(key).p_last_name.iloc[0]

In [34]:
cnt=0
nokey=0
for key,item in p_resultsgrouped:
    print("=====Key=====",key)
    resultsgroupeddate=p_resultsgrouped.get_group(key).date
    lastname=p_resultsgrouped.get_group(key).p_last_name.iloc[0]
    print(lastname)
    try:
        plistgroupeddate=rankgrouped.get_group(key).rank_date
    except:
        print("===Key Doesnt Exist===",key)  
        
    for i,playedDate in enumerate(resultsgroupeddate):
        #print(playedDate)
        #print(plistgroupeddate)
        time_deltas = plistgroupeddate-playedDate #np.subtract(playedDate - rankDateSeries) 
        tdo=time_deltas.copy()
        #print(time_deltas) 
        time_deltas2 = time_deltas[time_deltas <= pd.Timedelta(0)]
        #print(time_deltas[:5])
        try:
            idx_closest_date = time_deltas2.argmax() #np.argmin(time_deltas)
        #set the value in ranklist to the new date        
            
#         except:
#             try:
#                 idx_closest_date = time_deltas2.argmin()
            newdate=plistgroupeddate.loc[idx_closest_date]
        except:
            print(plistgroupeddate)
            print("no Argmax")
            cnt += 1
            print(playedDate)
            newdate = "N/A"

#         #print(newdate)
#         #groupranks.iloc[idx_closest_date]['date']=newdate
#         print(time_deltas.loc[idx_closest_date])
#         #print(idx_closest_date)
#         plistdate=plist.loc[idx_closest_date]['date']
#         #print(plistdate)
#         plistdate=playedDate
        #Create new dataframe
        if playedDate != newdate or newdate=="N/A":
            p_newdates.append([key,playedDate,newdate])
        #ranklist.set_value(idx_closest_date,'date',playedDate)
        #print(plist.loc[idx_closest_date]['date'])

=====Key===== 100113
Kodes Jr.
=====Key===== 100282
Vilas
=====Key===== 100284
Connors
=====Key===== 100286
Solomon
=====Key===== 100321
Amritraj
=====Key===== 100437
Borg
=====Key===== 100529
Curren
=====Key===== 100532
Kriek
=====Key===== 100581
McEnroe
=====Key===== 100586
Teltscher
=====Key===== 100653
Gomez
=====Key===== 100656
Lendl
=====Key===== 100676
Noah
=====Key===== 100689
Mayotte
=====Key===== 100757
Jarryd
=====Key===== 100763
Gilbert
=====Key===== 100809
Aguilera
=====Key===== 100815
Pate
=====Key===== 100855
Davis
=====Key===== 100870
Van Rensburg
=====Key===== 100901
Annacone
=====Key===== 100923
Masur
=====Key===== 100936
Leconte
=====Key===== 100942
Tulasne
=====Key===== 100944
Pernfors
=====Key===== 100946
Zivojinovic
=====Key===== 101030
Prpic
=====Key===== 101036
Mecir (Sr.)
=====Key===== 101061
Arias
=====Key===== 101062
Wilander
=====Key===== 101073
Jaite
=====Key===== 101084
Hlasek
=====Key===== 101098
Forget
=====Key===== 101120
Novacek
=====Key===== 101138
Cash
=====Key===== 101142
Sanchez
=====Key===== 101185
Woodforde
=====Key===== 101191
Reneberg
=====Key===== 101195
Mansdorf
=====Key===== 101196
Rostagno
=====Key===== 101222
Edberg
=====Key===== 101230
Chesnokov
=====Key===== 101235
Haarhuis
=====Key===== 101298
Svensson
=====Key===== 101309
Berger
=====Key===== 101320
Gustafsson
=====Key===== 101334
Volkov
=====Key===== 101381
Krickstein
=====Key===== 101391
Steeb
=====Key===== 101404
Muster
=====Key===== 101409
Yzaga
=====Key===== 101414
Becker
=====Key===== 101434
Korda
=====Key===== 101475
Costa
=====Key===== 101481
Camporese
=====Key===== 101510
Holm
=====Key===== 101511
Skoff
=====Key===== 101529
Stich
=====Key===== 101532
Clavet
=====Key===== 101582
Schaller
=====Key===== 101589
Boetsch
=====Key===== 101606
Mancini
=====Key===== 101609
Wheaton
=====Key===== 101611
Pioline
=====Key===== 101613
Washington
=====Key===== 101649
Perez-Roldan
=====Key===== 101723
Larsson
=====Key===== 101727
Stoltenberg
=====Key===== 101733
Siemerink
=====Key===== 101736
Agassi
=====Key===== 101746
Furlan
=====Key===== 101772
Cherkasov
=====Key===== 101774
Martin
=====Key===== 101793
Courier
=====Key===== 101797
Eltingh
=====Key===== 101820
Rosset
=====Key===== 101843
Bruguera
=====Key===== 101889
Woodbridge
=====Key===== 101948
Sampras
=====Key===== 101962
El Aynaoui
11185     1990-03-12
12244     1990-03-19
12731     1990-03-26
13815     1990-04-02
14277     1990-04-09
15547     1990-04-16
16818     1990-04-23
18081     1990-04-30
19346     1990-05-07
20607     1990-05-14
21741     1990-05-21
22998     1990-05-28
24093     1990-06-04
24501     1990-06-11
25762     1990-06-18
27016     1990-06-25
28118     1990-07-02
28538     1990-07-09
29787     1990-07-16
31022     1990-07-23
33258     1990-07-30
34472     1990-08-06
35694     1990-08-13
36900     1990-08-20
38084     1990-08-27
39216     1990-09-10
40421     1990-09-17
41546     1990-09-24
42711     1990-10-01
43521     1990-10-08
             ...
1701223   2010-07-19
1703005   2010-07-26
1704793   2010-08-02
1706572   2010-08-09
1708349   2010-08-16
1710129   2010-08-23
1711913   2010-08-30
1714465   2010-09-13
1716238   2010-09-20
1718008   2010-09-27
1719795   2010-10-04
1721580   2010-10-11
1723339   2010-10-18
1725104   2010-10-25
1726859   2010-11-01
1728616   2010-11-08
1730375   2010-11-15
1732129   2010-11-22
1733878   2010-11-29
1735621   2010-12-06
1737368   2010-12-13
1739114   2010-12-20
1740870   2010-12-27
1742622   2011-01-03
2216332   2010-01-25
2217324   2010-03-15
2218325   2010-03-29
2219326   2010-05-31
2220330   2010-06-28
2221330   2010-09-06
Name: rank_date, dtype: datetime64[ns]
no Argmax
1990-03-05 00:00:00
=====Key===== 101964
Ivanisevic
=====Key===== 101965
Ferreira
=====Key===== 101990
Krajicek
=====Key===== 102021
Chang
=====Key===== 102026
Kodes Jr.
36619    1990-08-20
37789    1990-08-27
38923    1990-09-10
40124    1990-09-17
41308    1990-09-24
42477    1990-10-01
43649    1990-10-08
44811    1990-10-15
45987    1990-10-22
47168    1990-10-29
48340    1990-11-05
49506    1990-11-12
50679    1990-11-19
51843    1990-11-26
53019    1990-12-03
54195    1990-12-10
55528    1990-12-24
56855    1991-01-07
58020    1991-01-14
59346    1991-01-28
60687    1991-02-11
61874    1991-02-18
63060    1991-02-25
64251    1991-03-04
65447    1991-03-11
66855    1991-03-25
68058    1991-04-01
69262    1991-04-08
70451    1991-04-15
71641    1991-04-22
            ...
671472   1993-01-04
672499   1993-01-25
673521   1993-03-15
674554   1993-03-29
675657   1993-05-31
676626   1993-06-28
677938   1993-09-06
678930   1993-12-27
679936   1994-01-03
680946   1994-01-24
681914   1994-03-14
682914   1994-05-30
683734   1994-06-27
684738   1994-09-05
685751   1994-12-05
686663   1994-12-26
687664   1995-01-02
688622   1995-01-23
689662   1995-03-20
690677   1995-06-05
691874   1995-07-03
693002   1995-09-04
693925   1995-12-11
694924   1995-12-25
695933   1996-01-01
697204   1996-01-22
698205   1996-03-25
699095   1996-06-03
700095   1996-07-01
701126   1996-09-02
Name: rank_date, dtype: datetime64[ns]
no Argmax
1990-08-06 00:00:00
36619    1990-08-20
37789    1990-08-27
38923    1990-09-10
40124    1990-09-17
41308    1990-09-24
42477    1990-10-01
43649    1990-10-08
44811    1990-10-15
45987    1990-10-22
47168    1990-10-29
48340    1990-11-05
49506    1990-11-12
50679    1990-11-19
51843    1990-11-26
53019    1990-12-03
54195    1990-12-10
55528    1990-12-24
56855    1991-01-07
58020    1991-01-14
59346    1991-01-28
60687    1991-02-11
61874    1991-02-18
63060    1991-02-25
64251    1991-03-04
65447    1991-03-11
66855    1991-03-25
68058    1991-04-01
69262    1991-04-08
70451    1991-04-15
71641    1991-04-22
            ...
671472   1993-01-04
672499   1993-01-25
673521   1993-03-15
674554   1993-03-29
675657   1993-05-31
676626   1993-06-28
677938   1993-09-06
678930   1993-12-27
679936   1994-01-03
680946   1994-01-24
681914   1994-03-14
682914   1994-05-30
683734   1994-06-27
684738   1994-09-05
685751   1994-12-05
686663   1994-12-26
687664   1995-01-02
688622   1995-01-23
689662   1995-03-20
690677   1995-06-05
691874   1995-07-03
693002   1995-09-04
693925   1995-12-11
694924   1995-12-25
695933   1996-01-01
697204   1996-01-22
698205   1996-03-25
699095   1996-06-03
700095   1996-07-01
701126   1996-09-02
Name: rank_date, dtype: datetime64[ns]
no Argmax
1990-08-06 00:00:00
=====Key===== 102035
Bjorkman
=====Key===== 102148
Santoro
=====Key===== 102158
Rafter
=====Key===== 102238
Berasategui
=====Key===== 102247
Gaudenzi
=====Key===== 102257
Rusedski
=====Key===== 102287
Portas
=====Key===== 102318
Pavel
=====Key===== 102338
Kafelnikov
=====Key===== 102344
Kucera
=====Key===== 102358
Enqvist
=====Key===== 102374
Corretja
=====Key===== 102434
Spadea
=====Key===== 102446
Medvedev
49004     1990-11-12
50176     1990-11-19
51347     1990-11-26
52517     1990-12-03
53693     1990-12-10
54679     1990-12-17
55031     1990-12-24
56012     1990-12-31
56357     1991-01-07
57522     1991-01-14
58503     1991-01-21
58849     1991-01-28
59830     1991-02-04
60180     1991-02-11
61363     1991-02-18
62551     1991-02-25
63736     1991-03-04
64927     1991-03-11
65975     1991-03-18
66331     1991-03-25
67533     1991-04-01
68736     1991-04-08
69935     1991-04-15
71128     1991-04-22
72312     1991-04-29
74185     1991-05-06
75280     1991-05-13
76376     1991-05-20
77634     1991-05-27
79016     1991-06-10
             ...
933799    2002-08-12
935211    2002-08-19
936627    2002-08-26
938454    2002-09-09
939866    2002-09-16
941565    2002-09-23
943266    2002-09-30
944964    2002-10-07
946662    2002-10-14
948360    2002-10-21
1585587   2000-01-24
1586598   2000-03-27
1587586   2000-06-05
1588620   2000-07-03
1589626   2000-09-04
1590633   2000-09-25
1591642   2000-12-25
1592649   2001-01-01
1593657   2001-01-22
1594649   2001-03-26
1595688   2001-06-04
1596629   2001-07-02
1597687   2001-09-03
1598679   2001-12-24
1599683   2001-12-31
1600692   2002-01-21
1601847   2002-03-25
1603008   2002-06-03
1604036   2002-07-01
1605224   2002-09-02
Name: rank_date, dtype: datetime64[ns]
no Argmax
1990-11-05 00:00:00
=====Key===== 102450
Henman
=====Key===== 102456
Mantilla
=====Key===== 102562
Novak
=====Key===== 102563
Johansson
216340    1993-10-18
217691    1993-10-25
219045    1993-11-01
220376    1993-11-08
221720    1993-11-15
223064    1993-11-22
224399    1993-11-29
225749    1993-12-06
227094    1993-12-13
228344    1993-12-20
230341    1994-01-10
231685    1994-01-17
233313    1994-01-31
234649    1994-02-07
235984    1994-02-14
237291    1994-02-21
238627    1994-02-28
239970    1994-03-07
241633    1994-03-21
242967    1994-03-28
244269    1994-04-04
245591    1994-04-11
246906    1994-04-18
248220    1994-04-25
249540    1994-05-02
250876    1994-05-09
252211    1994-05-16
253547    1994-05-23
255197    1994-06-06
256565    1994-06-13
             ...
1633408   2006-07-03
1634430   2006-09-04
1635461   2006-12-25
1636465   2007-01-22
1637479   2007-03-12
1638471   2007-03-26
1639478   2007-06-04
1640476   2007-07-02
1641476   2007-09-03
1642459   2008-01-21
1643468   2008-03-17
1644474   2008-03-31
1645481   2008-06-02
1646478   2008-06-30
1647481   2008-09-01
1648563   2009-01-26
1649579   2009-03-16
1650591   2009-03-30
1651607   2009-06-01
1652647   2009-06-29
1654041   2009-09-07
1655928   2010-01-04
1657739   2010-01-11
1659553   2010-01-18
1662172   2010-02-01
1663910   2010-02-08
1665713   2010-02-15
1667501   2010-02-22
1669296   2010-03-01
2216196   2010-01-25
Name: rank_date, dtype: datetime64[ns]
no Argmax
1993-10-11 00:00:00
216340    1993-10-18
217691    1993-10-25
219045    1993-11-01
220376    1993-11-08
221720    1993-11-15
223064    1993-11-22
224399    1993-11-29
225749    1993-12-06
227094    1993-12-13
228344    1993-12-20
230341    1994-01-10
231685    1994-01-17
233313    1994-01-31
234649    1994-02-07
235984    1994-02-14
237291    1994-02-21
238627    1994-02-28
239970    1994-03-07
241633    1994-03-21
242967    1994-03-28
244269    1994-04-04
245591    1994-04-11
246906    1994-04-18
248220    1994-04-25
249540    1994-05-02
250876    1994-05-09
252211    1994-05-16
253547    1994-05-23
255197    1994-06-06
256565    1994-06-13
             ...
1633408   2006-07-03
1634430   2006-09-04
1635461   2006-12-25
1636465   2007-01-22
1637479   2007-03-12
1638471   2007-03-26
1639478   2007-06-04
1640476   2007-07-02
1641476   2007-09-03
1642459   2008-01-21
1643468   2008-03-17
1644474   2008-03-31
1645481   2008-06-02
1646478   2008-06-30
1647481   2008-09-01
1648563   2009-01-26
1649579   2009-03-16
1650591   2009-03-30
1651607   2009-06-01
1652647   2009-06-29
1654041   2009-09-07
1655928   2010-01-04
1657739   2010-01-11
1659553   2010-01-18
1662172   2010-02-01
1663910   2010-02-08
1665713   2010-02-15
1667501   2010-02-22
1669296   2010-03-01
2216196   2010-01-25
Name: rank_date, dtype: datetime64[ns]
no Argmax
1993-10-11 00:00:00
216340    1993-10-18
217691    1993-10-25
219045    1993-11-01
220376    1993-11-08
221720    1993-11-15
223064    1993-11-22
224399    1993-11-29
225749    1993-12-06
227094    1993-12-13
228344    1993-12-20
230341    1994-01-10
231685    1994-01-17
233313    1994-01-31
234649    1994-02-07
235984    1994-02-14
237291    1994-02-21
238627    1994-02-28
239970    1994-03-07
241633    1994-03-21
242967    1994-03-28
244269    1994-04-04
245591    1994-04-11
246906    1994-04-18
248220    1994-04-25
249540    1994-05-02
250876    1994-05-09
252211    1994-05-16
253547    1994-05-23
255197    1994-06-06
256565    1994-06-13
             ...
1633408   2006-07-03
1634430   2006-09-04
1635461   2006-12-25
1636465   2007-01-22
1637479   2007-03-12
1638471   2007-03-26
1639478   2007-06-04
1640476   2007-07-02
1641476   2007-09-03
1642459   2008-01-21
1643468   2008-03-17
1644474   2008-03-31
1645481   2008-06-02
1646478   2008-06-30
1647481   2008-09-01
1648563   2009-01-26
1649579   2009-03-16
1650591   2009-03-30
1651607   2009-06-01
1652647   2009-06-29
1654041   2009-09-07
1655928   2010-01-04
1657739   2010-01-11
1659553   2010-01-18
1662172   2010-02-01
1663910   2010-02-08
1665713   2010-02-15
1667501   2010-02-22
1669296   2010-03-01
2216196   2010-01-25
Name: rank_date, dtype: datetime64[ns]
no Argmax
1993-10-11 00:00:00
=====Key===== 102610
Costa
=====Key===== 102644
Squillari
=====Key===== 102701
Rios
=====Key===== 102765
Escude
=====Key===== 102783
Schuettler
=====Key===== 102796
Norman
159738    1992-11-02
161042    1992-11-09
162351    1992-11-16
163648    1992-11-23
164935    1992-11-30
166228    1992-12-07
167526    1992-12-14
168824    1992-12-21
170633    1993-01-11
171925    1993-01-18
173487    1993-02-01
174778    1993-02-08
176073    1993-02-15
177365    1993-02-22
178650    1993-03-01
179948    1993-03-08
181501    1993-03-22
183091    1993-04-05
184382    1993-04-12
185673    1993-04-19
186988    1993-04-26
188287    1993-05-03
189579    1993-05-10
190867    1993-05-17
192162    1993-05-24
193803    1993-06-07
195098    1993-06-14
196396    1993-06-21
197927    1993-07-05
199257    1993-07-12
             ...
1591588   2000-12-25
1592595   2001-01-01
1593602   2001-01-22
1594609   2001-03-26
1595617   2001-06-04
1596528   2001-07-02
1597550   2001-09-03
1598572   2001-12-24
1599576   2001-12-31
1600588   2002-01-21
1601667   2002-03-25
1602697   2002-06-03
1603698   2002-07-01
1604748   2002-09-02
1605651   2002-12-23
1606656   2002-12-30
1607662   2003-01-20
1608648   2003-03-24
1609641   2003-06-02
1610643   2003-06-30
1611643   2003-09-01
1612691   2003-12-22
1613691   2003-12-29
1614691   2004-01-05
1615688   2004-01-26
1616728   2004-03-15
1617735   2004-03-29
1618882   2004-05-31
1619883   2004-06-28
1621051   2004-09-06
Name: rank_date, dtype: datetime64[ns]
no Argmax
1992-10-26 00:00:00
=====Key===== 102839
Lapentti
=====Key===== 102845
Moya
=====Key===== 102854
Schalken
=====Key===== 102856
Kuerten
=====Key===== 102860
Calleri
=====Key===== 102882
Philippoussis
=====Key===== 102905
Koubek
258515    1994-06-27
259077    1994-07-04
260436    1994-07-11
261798    1994-07-18
263156    1994-07-25
264530    1994-08-01
265945    1994-08-08
267314    1994-08-15
268713    1994-08-22
270111    1994-08-29
271321    1994-09-05
271922    1994-09-12
273335    1994-09-19
274757    1994-09-26
276172    1994-10-03
277583    1994-10-10
279007    1994-10-17
280435    1994-10-24
281858    1994-10-31
283269    1994-11-07
284659    1994-11-14
286041    1994-11-21
287401    1994-11-28
288574    1994-12-05
289147    1994-12-12
290526    1994-12-19
291704    1994-12-26
292080    1995-01-02
292658    1995-01-09
294029    1995-01-16
             ...
1798577   2011-09-19
1800583   2011-09-26
1802526   2011-10-03
1804465   2011-10-10
1806420   2011-10-17
1808373   2011-10-24
1810321   2011-10-31
1812276   2011-11-07
1814217   2011-11-14
1816403   2011-11-21
1818356   2011-11-28
1820307   2011-12-05
1822261   2011-12-12
1824207   2011-12-19
1826149   2011-12-26
1828093   2012-01-02
1830039   2012-01-09
1831981   2012-01-16
1833977   2012-01-30
1834263   2012-02-06
1836195   2012-02-13
1838126   2012-02-20
1840057   2012-02-27
1841997   2012-03-05
2215732   2010-01-25
2216731   2010-03-15
2217720   2010-03-29
2218716   2010-05-31
2219720   2010-06-28
2220737   2010-09-06
Name: rank_date, dtype: datetime64[ns]
no Argmax
1994-06-13 00:00:00
=====Key===== 102998
Gambill
=====Key===== 103017
Kiefer
279009    1994-10-17
280437    1994-10-24
281860    1994-10-31
283271    1994-11-07
284661    1994-11-14
286043    1994-11-21
287403    1994-11-28
288576    1994-12-05
289149    1994-12-12
290450    1994-12-19
291628    1994-12-26
292004    1995-01-02
292579    1995-01-09
293951    1995-01-16
295104    1995-01-23
295671    1995-01-30
297043    1995-02-06
299288    1995-02-13
300666    1995-02-20
302026    1995-02-27
303062    1995-03-06
304281    1995-03-13
305982    1995-03-27
307398    1995-04-03
308791    1995-04-10
310184    1995-04-17
311572    1995-04-24
312940    1995-05-01
314324    1995-05-08
315691    1995-05-15
             ...
1704397   2010-08-02
1706180   2010-08-09
1707978   2010-08-16
1709781   2010-08-23
1711561   2010-08-30
1714252   2010-09-13
1716022   2010-09-20
1717799   2010-09-27
1719580   2010-10-04
1721367   2010-10-11
1723132   2010-10-18
1724950   2010-10-25
1726860   2010-11-01
1728617   2010-11-08
1730376   2010-11-15
1732131   2010-11-22
1733880   2010-11-29
1735624   2010-12-06
1737371   2010-12-13
1739117   2010-12-20
1740873   2010-12-27
1742625   2011-01-03
1744278   2011-01-10
1746030   2011-01-17
2215709   2010-01-25
2216717   2010-03-15
2217733   2010-03-29
2218754   2010-05-31
2219777   2010-06-28
2220978   2010-09-06
Name: rank_date, dtype: datetime64[ns]
no Argmax
1994-10-10 00:00:00
=====Key===== 103018
Mirnyi
=====Key===== 103084
Canas
=====Key===== 103096
Clement
=====Key===== 103103
Hrbaty
=====Key===== 103163
Haas
=====Key===== 103206
Grosjean
=====Key===== 103264
Puerta
=====Key===== 103280
Verkerk
=====Key===== 103285
Stepanek
=====Key===== 103292
Gaudio
=====Key===== 103344
Ljubicic
=====Key===== 103387
Srichaphan
=====Key===== 103428
Chela
=====Key===== 103454
Massu
=====Key===== 103484
Blake
=====Key===== 103498
Safin
=====Key===== 103507
Ferrero
=====Key===== 103598
Malisse
=====Key===== 103602
Gonzalez
=====Key===== 103720
Hewitt
429441    1997-01-27
430934    1997-02-03
432422    1997-02-10
433908    1997-02-17
435397    1997-02-24
436881    1997-03-03
438372    1997-03-10
439848    1997-03-17
441821    1997-03-31
443306    1997-04-07
444787    1997-04-14
446274    1997-04-21
447755    1997-04-28
449246    1997-05-05
450750    1997-05-12
452242    1997-05-19
453734    1997-05-26
455699    1997-06-09
457200    1997-06-16
458712    1997-06-23
460704    1997-07-07
462242    1997-07-14
463787    1997-07-21
465353    1997-07-28
466929    1997-08-04
468505    1997-08-11
470080    1997-08-18
471661    1997-08-25
473825    1997-09-08
475405    1997-09-15
             ...
2163419   2015-07-13
2165613   2015-07-20
2167849   2015-07-27
2170131   2015-08-03
2172362   2015-08-10
2174675   2015-08-17
2176912   2015-08-24
2179179   2015-08-31
2181318   2015-09-14
2183541   2015-09-21
2185757   2015-09-28
2187994   2015-10-05
2190240   2015-10-12
2192482   2015-10-19
2194735   2015-10-26
2196987   2015-11-02
2199240   2015-11-09
2201495   2015-11-16
2203740   2015-11-23
2205983   2015-11-30
2208237   2015-12-07
2210496   2015-12-14
2212750   2015-12-21
2215005   2015-12-28
2215620   2010-01-25
2216623   2010-03-15
2217626   2010-03-29
2218632   2010-05-31
2219625   2010-06-28
2220633   2010-09-06
Name: rank_date, dtype: datetime64[ns]
no Argmax
1997-01-13 00:00:00
=====Key===== 103786
Davydenko
=====Key===== 103813
Nieminen
=====Key===== 103819
Federer
=====Key===== 103852
Lopez
=====Key===== 103888
Fish
726634    2016-01-04
728893    2016-01-11
731146    2016-01-18
733399    2016-02-01
752198    2000-04-03
753797    2000-04-10
755391    2000-04-17
756978    2000-04-24
758556    2000-05-01
760145    2000-05-08
761739    2000-05-15
763339    2000-05-22
764955    2000-05-29
767135    2000-06-12
768713    2000-06-19
770315    2000-06-26
772336    2000-07-10
773729    2000-07-17
775305    2000-07-24
776883    2000-07-31
778361    2000-08-07
779936    2000-08-14
781509    2000-08-21
783092    2000-08-28
785227    2000-09-11
786824    2000-09-18
789044    2000-10-02
790692    2000-10-09
792313    2000-10-16
793939    2000-10-23
             ...
2162023   2015-07-13
2164275   2015-07-20
2166528   2015-07-27
2168759   2015-08-03
2170981   2015-08-10
2173225   2015-08-17
2177139   2015-08-24
2179405   2015-08-31
2181443   2015-09-14
2183659   2015-09-21
2185882   2015-09-28
2188114   2015-10-05
2190358   2015-10-12
2192605   2015-10-19
2194857   2015-10-26
2197109   2015-11-02
2199365   2015-11-09
2201616   2015-11-16
2203858   2015-11-23
2206101   2015-11-30
2208351   2015-12-07
2210611   2015-12-14
2212864   2015-12-21
2215121   2015-12-28

In [ ]:
print 
len(p_newdates)

#so now merge this with results, where key is p_player_id
#and fill the NA's with the date

#and then do the same for the o_player

#and then do the same for where date < 0 

#and probably ignore the ones where theyr'e not ranked. need to talk to dye

922

In [ ]:
p_newdates_before=[]
cnt=0
nokey=0
for key,item in p_resultsgrouped:
    print("=====Key=====",key)
    resultsgroupeddate=p_resultsgrouped.get_group(key).date
    lastname=p_resultsgrouped.get_group(key).p_last_name.iloc[0]
    print(lastname)
    try:
        plistgroupeddate=rankgrouped.get_group(key).rank_date
    except:
        print("===Key Doesnt Exist===",key)  
        
    for i,playedDate in enumerate(resultsgroupeddate):
        #print(playedDate)
        #print(plistgroupeddate)
        time_deltas = plistgroupeddate-playedDate #np.subtract(playedDate - rankDateSeries) 
        tdo=time_deltas.copy()
        #print(time_deltas) 
        time_deltas2 = time_deltas[time_deltas < pd.Timedelta(0)]
        #print(time_deltas[:5])
        try:
            idx_closest_date = time_deltas2.argmax() #np.argmin(time_deltas)
        #set the value in ranklist to the new date        
            
#         except:
#             try:
#                 idx_closest_date = time_deltas2.argmin()
            newdate=plistgroupeddate.loc[idx_closest_date]
        except:
            print(plistgroupeddate)
            print("no Argmax")
            cnt += 1
            print(playedDate)
            newdate = "N/A"

#         #print(newdate)
#         #groupranks.iloc[idx_closest_date]['date']=newdate
#         print(time_deltas.loc[idx_closest_date])
#         #print(idx_closest_date)
#         plistdate=plist.loc[idx_closest_date]['date']
#         #print(plistdate)
#         plistdate=playedDate
        #Create new dataframe
        if playedDate != newdate or newdate=="N/A":
            p_newdates_before.append([key,playedDate,newdate])
        #ranklist.set_value(idx_closest_date,'date',playedDate)
        #print(plist.loc[idx_closest_date]['date'])

=====Key===== 100113
Kodes Jr.
=====Key===== 100282
Vilas
=====Key===== 100284
Connors
=====Key===== 100286
Solomon
=====Key===== 100321
Amritraj
=====Key===== 100437
Borg
=====Key===== 100529
Curren
=====Key===== 100532
Kriek
=====Key===== 100581
McEnroe
=====Key===== 100586
Teltscher
=====Key===== 100653
Gomez
=====Key===== 100656
Lendl
=====Key===== 100676
Noah
=====Key===== 100689
Mayotte
=====Key===== 100757
Jarryd
=====Key===== 100763
Gilbert
=====Key===== 100809
Aguilera
=====Key===== 100815
Pate
=====Key===== 100855
Davis
=====Key===== 100870
Van Rensburg
=====Key===== 100901
Annacone
=====Key===== 100923
Masur
=====Key===== 100936
Leconte
=====Key===== 100942
Tulasne
=====Key===== 100944
Pernfors
=====Key===== 100946
Zivojinovic
=====Key===== 101030
Prpic
=====Key===== 101036
Mecir (Sr.)
=====Key===== 101061
Arias
=====Key===== 101062
Wilander
=====Key===== 101073
Jaite
=====Key===== 101084
Hlasek
=====Key===== 101098
Forget
=====Key===== 101120
Novacek
=====Key===== 101138
Cash
=====Key===== 101142
Sanchez
=====Key===== 101185
Woodforde
=====Key===== 101191
Reneberg
=====Key===== 101195
Mansdorf

In [ ]:
len(p_newdates_before)

In [ ]:
o_newdates=[]
cnt=0
nokey=0
for key,item in o_resultsgrouped:
    print("=====Key=====",key)
    resultsgroupeddate=o_resultsgrouped.get_group(key).date
    lastname=o_resultsgrouped.get_group(key).o_last_name.iloc[0]
    print(lastname)
    try:
        plistgroupeddate=rankgrouped.get_group(key).rank_date
    except:
        print("===Key Doesnt Exist===",key)  
        
    for i,playedDate in enumerate(resultsgroupeddate):
        #print(playedDate)
        #print(plistgroupeddate)
        time_deltas = plistgroupeddate-playedDate #np.subtract(playedDate - rankDateSeries) 
        tdo=time_deltas.copy()
        #print(time_deltas) 
        time_deltas2 = time_deltas[time_deltas <= pd.Timedelta(0)]
        #print(time_deltas[:5])
        try:
            idx_closest_date = time_deltas2.argmax() #np.argmin(time_deltas)
        #set the value in ranklist to the new date        
            
#         except:
#             try:
#                 idx_closest_date = time_deltas2.argmin()
            newdate=plistgroupeddate.loc[idx_closest_date]
        except:
            print(plistgroupeddate)
            print("no Argmax")
            cnt += 1
            print(playedDate)
            newdate = "N/A"

#         #print(newdate)
#         #groupranks.iloc[idx_closest_date]['date']=newdate
#         print(time_deltas.loc[idx_closest_date])
#         #print(idx_closest_date)
#         plistdate=plist.loc[idx_closest_date]['date']
#         #print(plistdate)
#         plistdate=playedDate
        #Create new dataframe
        if playedDate != newdate or newdate=="N/A":
            o_newdates.append([key,playedDate,newdate])
        #ranklist.set_value(idx_closest_date,'date',playedDate)
        #print(plist.loc[idx_closest_date]['date'])

In [ ]:
len(o_newdates)

In [ ]:
o_newdates_before=[]
cnt=0
nokey=0
for key,item in o_resultsgrouped:
    print("=====Key=====",key)
    resultsgroupeddate=o_resultsgrouped.get_group(key).date
    lastname=o_resultsgrouped.get_group(key).o_last_name.iloc[0]
    print(lastname)
    try:
        plistgroupeddate=rankgrouped.get_group(key).rank_date
    except:
        print("===Key Doesnt Exist===",key)  
        
    for i,playedDate in enumerate(resultsgroupeddate):
        #print(playedDate)
        #print(plistgroupeddate)
        time_deltas = plistgroupeddate-playedDate #np.subtract(playedDate - rankDateSeries) 
        tdo=time_deltas.copy()
        #print(time_deltas) 
        time_deltas2 = time_deltas[time_deltas < pd.Timedelta(0)]
        #print(time_deltas[:5])
        try:
            idx_closest_date = time_deltas2.argmax() #np.argmin(time_deltas)
        #set the value in ranklist to the new date        
            
#         except:
#             try:
#                 idx_closest_date = time_deltas2.argmin()
            newdate=plistgroupeddate.loc[idx_closest_date]
        except:
            print(plistgroupeddate)
            print("no Argmax")
            cnt += 1
            print(playedDate)
            newdate = "N/A"

#         #print(newdate)
#         #groupranks.iloc[idx_closest_date]['date']=newdate
#         print(time_deltas.loc[idx_closest_date])
#         #print(idx_closest_date)
#         plistdate=plist.loc[idx_closest_date]['date']
#         #print(plistdate)
#         plistdate=playedDate
        #Create new dataframe
        if playedDate != newdate or newdate=="N/A":
            o_newdates_before.append([key,playedDate,newdate])
        #ranklist.set_value(idx_closest_date,'date',playedDate)
        #print(plist.loc[idx_closest_date]['date'])

In [ ]:
len(o_newdates_before)

In [ ]:
o_newdates=pd.DataFrame(np.array(o_newdates_before),columns=['o_player_id','date','p_newdate_on'],dtype=['int','datetime64[ns]','datetime64[ns]'])
#df['time'] = df['time'].astype('datetime64[ns]')

In [ ]:
o_newdates.head()